.hero-container {
    background: url(../../imgs/header-camping.webp);
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    color: var(--clr-white);
    height: min(45rem, 50rem, 55rem);
    /* from bigger to smaller */
    text-align: center;
    width: 100%;
}